.radio-wrap{
    position: relative;
}
.radio-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border: 1px solid #dedeea;
    border-radius: 50%;
    background-color: #fff;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
}

.radio-box svg {
  color: #fff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.radio-wrap input[type="radio"]{
    position: absolute;
    opacity: 0;
    width: 22px;
    height: 22px;
}

.radio-wrap input[type="radio"]:checked + .radio-box {
    background-color: #fd6729;
    border-color: #fd6729;
}

.radio-wrap input[type="radio"]:checked + .radio-box svg {
  opacity: 1;
}


.radio-wrap label{
    padding-left: 34px;
    font-size: .875rem;
    font-weight: 700;
    line-height: 22px;
    cursor: pointer;
}
