.header-Main-chat-page {
  position: relative;
  background-color: #fd6729;
  height: 80px;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
}
.right-header-main-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.info-main-chat {
  display: flex;
  align-items: center;
}
.right-header-main-chat .icon,
.left-header-main-chat .icon {
  background-color: #fff;
  border-radius: 100%;
  color: #e74a3b;
  cursor: pointer;
  height: 25px;
  line-height: 1.6;
  text-align: center;
  width: 25px;
  display: flex;
    align-items: center;
    justify-content: center;
}
.left-header-main-chat .icon {
  margin-left: 15px;
}
.username-main-chat {
  color: #fff;
  font-weight: 900;
  font-size: 18px;
}
.hashtag-main-chat {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 4px;
}
.hashtag-main-chat svg {
  color: #fff !important;
  /* color: #3e3f5e !important; */
}
.badge-main-chat {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge-main-chat img {
  width: 20px;
}
.badge-number-mainchat {
  position: absolute;
  top: 0;
  color: #fff;
  font-size: 12px;
  line-height: 2;
}
.left-header-main-chat {
  display: flex;
  align-items: center;
  gap: 8px;
}
.desc-main-chat {
  color: #fff;
  font-size: 15px;
  text-align: end;
}

.footer-Main-chat-page {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  height: 60px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  border-top: 1px solid #eee;
  z-index: 1;
}
.input-send-messag-main-chat {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 0 8px;
  flex: 1;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.input-send-messag-main-chat input {
  border: none;
}
.input-send-messag-main-chat svg {
  font-size: 23px;
  color: #fd6729;
  cursor: pointer;
}
.send-message-main-chat {
  font-size: 23px;
  color: #fd6729;
  cursor: pointer;
}
.images-actions-main-chat {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 15px;
}
.icons-actions-main-chat img,
.icons-actions-main-chat svg {
  cursor: pointer;
  width: 25px;
  height: 25px;
color: #0c133b;
}
.wrap-Message {
  height: calc(100vh - 140px);
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.wrap-Message::-webkit-scrollbar {
  width: 8px;
}

.wrap-Message::-webkit-scrollbar-thumb {
  background-color: #fd6729;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
/* .date-main-chat {
  text-align: center;
  margin: 15px 0;
  font-weight: 600;
  font-size: 18px;
  color: #585858;
}
.wrap-message-main-chat-from,
.wrap-message-main-chat-to{
    display: flex;
    align-items: center;
    gap: 18px;
}
.wrap-message-main-chat-to{
    justify-content: end;
} */
/* .messages-main-chat {
  padding: 1.25rem;
}
.message-to-main-chat,
.message-from-main-chat{
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}
.message-from-main-chat {
  justify-content: flex-start;
}
.message-to-main-chat {
  flex-direction: row-reverse;
}
.message-from-main-chat img,
.message-to-main-chat img {
  height: 35px;
  width: 35px;
  border-radius: 100%;
}

.message-Content-from-main-chat {
  background: #eee;
  padding: 15px 8px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 15px;
  border-top-left-radius: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.message-Content-to-main-chat {
  background: #fd6729;
  padding: 15px 8px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 15px;
  border-top-right-radius: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.message-Content-to-main-chat p {
  color: #fff;
}
.flex-messages-from-main-chat,
.flex-messages-to-main-chat{
    display: flex;
    align-items: baseline;
    gap: 10px;
}
.flex-messages-to-main-chat{
    flex-direction: row-reverse;
} */
.wrap-Message .date {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  font-weight: 600;
  font-size: 18px;
  color: #585858;
}

.messages {
  padding: 1.25rem;
}

.message-from,
.message-to {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
  padding: 3px 0px;
}

.message-to {
  flex-direction: row-reverse;
}

.message-from img,
.message-to img {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.message-Content-from,
.message-Content-to {
  padding: 15px 8px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 15px;
  position: relative;
  /* min-height: 50px; */
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.message-Content-from {
  background: #eee;
  border-top-left-radius: 0;
}

.message-Content-to {
  background: #fd6729;
  border-top-right-radius: 0;
}
.message-Content-to p {
  color: #fff;
}
/* .message-Content-to p ,
.message-Content-from p {
margin-top: 5px;
margin-bottom: 5px;
} */
.wrap-messga-select-from,
.wrap-messga-select-to-between,
.wrap-messga-select-to-end {
  display: flex;
  align-items: baseline;
  gap: 15px;
  margin-bottom: 5px;
}
.wrap-messga-select-to-end {
  justify-content: end;
}
.wrap-messga-select-to-between {
  justify-content: space-between;
}
.icon-message-main-chat-from,
.icon-message-main-chat-to {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: -2px;
  font-size: 18px;
  background-color: #a9a9a955;
  width: 25px;
  height: 25px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in-out, right 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out, right 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, right 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out, right 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out, right 0.2s ease-in-out;
}
.icon-message-main-chat-from {
  border-bottom-left-radius: 15px;
  background-color: #fd4f06;
}
.icon-message-main-chat-to {
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #dfdfdf;
}
.icon-message-main-chat-to svg {
  color: #000 !important;
}
.icon-message-main-chat-from svg {
  color: #fff !important;
}
.display-react {
  display: flex;
  align-items: center;
  background-color: #fbe2d7;
  max-width: 100px;
  padding: 2px 4px;
  position: absolute;
  bottom: -48%;
  border-radius: 9px;
  cursor: pointer;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}
.display-react .react img {
  width: 20px;
  height: 20px;
}
.count {
  color: #555;
  margin: 0 4px;
}

.time-stamp {
  display: flex;
  gap: 5px;
  margin: 8px 0 0 10px;
  font-size: 14px;
  font-weight: 500;
  justify-content: end;
}
.time-stamp-to svg {
  display: block !important;
}
.time-stamp-from svg {
  display: none !important;
}

.flex-messages-from {
  display: flex;
  align-items: center;
  gap: 15px;
}
.flex-messages-to {
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
  gap: 15px;
}

.action-message-content-from {
  display: flex;
  flex-direction: row;
}
.action-message-content-to {
  display: flex;
  flex-direction: row-reverse;
}
.action-message-content svg {
  cursor: pointer;
}
/* .message:hover svg, */
.message:hover .icon-message-main-chat-to,
.message:hover .icon-message-main-chat-from {
  display: flex;
  color: #4e4e4e;
  opacity: 1;
}
.message:hover .icon-message-main-chat-to,
.message:hover .icon-message-main-chat-from {
  right: 0px;
}
.name-message-sent {
  font-size: 18px;
  font-weight: 600;
}
.list-action-main-chat {
  width: 160px;
  position: absolute;
  right: 15px;
  top: 23px;
  padding: 5px 0;
  border-radius: 4px;
  z-index: 5;
}

.list-action-main-chat.list-active-main-chat {
  display: block;
  /* transform: scale(1);
  transition: transform .3s ease-in-out;
  -webkit-transition: transform .3s ease-in-out;
  -moz-transition: transform .3s ease-in-out;
  -ms-transition: transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out; */
}

.list-action-main-chat.list-disActimainple-chat {
  display: none;
  /* transform: scale(0);
  transition: transform .3s ease-in-out;
  -webkit-transition: transform .3s ease-in-out;
  -moz-transition: transform .3s ease-in-out;
  -ms-transition: transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out; */
}
.ul-main-chat li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
  margin: 1px 0;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: opacity 0.3s ease, transform 0.3s ease;
  -moz-transition: opacity 0.3s ease, transform 0.3s ease;
  -ms-transition: opacity 0.3s ease, transform 0.3s ease;
  -o-transition: opacity 0.3s ease, transform 0.3s ease;
}

.ul-main-chat li:hover {
  background-color: #eee;
}

.ul-main-chat li p {
  color: #000;
}
.ul-main-chat {
  display: flex;
  position: relative;
}

.listOne-main-chat {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: -2px 4px 5px -2px #eee;
  position: absolute;
  left: 0;
  width: 100%;
  border: 1px solid #eee;
  border-top: none;
  transition: left 0.3s ease;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -ms-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.listTwo-main-chat {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: -2px 4px 5px -2px #eee;
  position: absolute;
  right: 0;
  width: 100%;
  border-top: none;
  border: 1px solid #eee;
  transition: right 0.3s ease;
  -webkit-transition: right 0.3s ease;
  -moz-transition: right 0.3s ease;
  -ms-transition: right 0.3s ease;
  -o-transition: right 0.3s ease;
}
.Active-chat-main-list-actionListTwo,
.Active-chat-main-list-action {
  background: #fff;
  width: 100%;
}

.disActive-chat-main-list-actionListTwo {
  position: absolute;
  right: -155px;
  visibility: hidden;
  opacity: 0;
}
.disActive-chat-main-list-action {
  position: absolute;
  left: -123px;
  visibility: hidden;
  opacity: 0;
}
.Active-chat-main-list-actionListTwo {
  position: absolute;
  right: 0;
}
.Active-chat-main-list-action {
  position: absolute;
  left: 0;
}

.replay-message {
  background-color: #f5f5f5;
  position: absolute;
  width: 100%;
  padding: 5px;
  bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translate(0px, 200px);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -webkit-transform: translate(0px, 200px);
  -moz-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  -o-transform: translate(0px, 200px);
  -webkit-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.active-replay-message {
  opacity: 1;
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
}
.disactive-replay-message {
  opacity: 1;
  transform: translate(0px, 200px);
  -webkit-transform: translate(0px, 200px);
  -moz-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  -o-transform: translate(0px, 200px);
}

.content-replay-meessage {
  flex: 1;
}
.info-replay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5555;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.txt {
  padding-left: 18px;
}
.txt p {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}
.replay-message .img img {
  width: 60px;
  height: 60px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.border-left-replay {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  flex: none;
  width: 4px;
  background-color: #fd6729;
  height: 87%;
  position: absolute;
}
.close-replay-meessage {
  font-size: 21px;
  cursor: pointer;
}

.Mute{
  max-width: 400px;
  border-radius: 10px;
  position: absolute;
  max-height: 95%;
  top: 50%;
  left: 50%;
  width: 95%;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 5555555;
  padding: 15px;
  background: #fff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.Mute .header-mute{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.Mute .wrap-inputs-mute .input-mute-option{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}


.Report {
  max-width: 600px;
  /*overflow-x: hidden;
  overflow-y: scroll;
  */
  border-radius: 10px;
  position: absolute;
  max-height: 95%;
  top: 50%;
  left: 50%;
  width: 95%;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 5555555;
  padding: 10px 5px;
  background: #fff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.header-Report {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  margin-bottom: 10px;
}
.header-Report svg {
  cursor: pointer;
  color: #fd6729;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 5555555555;
  padding: 10px 5px;
  background: #5555;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.wrap-inputs-Report {
  height: 100%;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  padding: 0px 20px;
}
.inpt-Report {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.inpt-Report p {
  font-size: 18px;
  font-weight: 500;
}
.inpt-Report select {
  border: 1px solid #eee !important;
  border-radius: 6px !important;
  flex: 1 !important;
  height: 40px !important;
  padding: 0 18px;
}
.wrap-inputs-Report textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2 !important;
  border-radius: 0.35rem;
  height: 190px;
  -webkit-border-radius: 0.35rem;
  -moz-border-radius: 0.35rem;
  -ms-border-radius: 0.35rem;
  -o-border-radius: 0.35rem;
}
.btn-Report {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
}
.closeReport {
  width: 60px;
  color: #fff;
  background-color: #858796;
  border-color: #858796;
  padding: 7px 2px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.SubmitReport {
  width: 115px;
  color: #fff;
  background-color: #fd6729;
  border-color: #fd6729;
  padding: 7px 2px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.active-selected {
  background-color: #5555;
}
.wrap-message-select-from {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 10px;
}

.Forward-message-footer {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  background: #fd6729;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px;
  color: #fff;
  font-size: 20px;
}
.right-fror {
  display: flex;
  gap: 7px;
  align-items: center;
}
.right-fror p {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}
.Forward-message-footer svg {
  cursor: pointer;
}

.ForwardMessage-Model {
  max-width: 450px;
  /* overflow-x: hidden;
  overflow-y: scroll; */
  border-radius: 10px;
  position: absolute;
  max-height: 95%;
  top: 50%;
  left: 50%;
  width: 95%;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 5555555;
  padding: 10px 5px;
  background: #fff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.wrap-forward-model {
  height: calc(100vh - 150px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.wrap-forward-model::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

.wrap-forward-model::-webkit-scrollbar-track {
  background: transparent;
}

.wrap-forward-model::-webkit-scrollbar-thumb {
  background: #fd6729;
  border-radius: 3px;
}
#checkedForwardMessage {
  accent-color: #ff5b17;
}
.overlay-forward {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 5555555555;
  padding: 10px 5px;
  background: #5555;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.header-forward {
  text-align: center;
  border-bottom: 1px solid #5555;
  padding: 7px 0;
}

.content-info-forw {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  margin-bottom: 5px;
}
.content-info-forw:hover {
  background: #eee;
}
.content-info-forw:last-child {
  margin-bottom: 25px;
}
.content-info-forw:first-child {
  margin-top: 10px;
}
.content-info-forw .info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content-info-forw .info .people-img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.info-forw p {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}
.send-forward {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ff5b17;
  left: 0;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.name-send-to-forward p {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}
.icon-send-froward {
  font-size: 20px;
  background-color: #fff;
  border: 3px solid #fff;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  text-align: center;
  line-height: 2.2;
  position: relative;
  top: -26px;
  z-index: 5555555555;
  cursor: pointer;
}
.icon-send-froward svg {
  color: #fd6729;
}
.Search-people-chat {
  margin-top: 10px;
}
.admin-for p {
  color: #3e3f5e;
  font-size: 18px;
  font-weight: 600;
}
.online {
  color: #00a861;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.online svg {
  font-size: 12px;
}
.content-info-forw input[type="checkbox"] {
  accent-color: #ff5b17;
}
.reactions-chat-main-from,
.reactions-chat-main-to {
  top: 0;
  position: absolute;
  background-color: #fff;
  padding: 4px 5px;

  transition: top 0.3s ease, z-index 0.3s ease;
  -webkit-transition: top 0.3s ease, z-index 0.3s ease;
  -moz-transition: top 0.3s ease, z-index 0.3s ease;
  -ms-transition: top 0.3s ease, z-index 0.3s ease;
  -o-transition: top 0.3s ease, z-index 0.3s ease;
  
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;

  box-shadow: 0 0 7px 0 #eee;
  }
.reactions-chat-main-to {
  top: -44px !important;
  left: -55px;
}
.reactions-chat-main-from {
  right: -55px;
}
.wrap-chat-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 370px;
  height: 44px;
}
.wrap-chat-main img {
  cursor: pointer;
  transition: 0.5s;
}
.wrap-chat-main img:hover{
  margin-bottom: 8px;
}

.plus-reactions-chat {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 100%;
  text-align: center;
  line-height: 1.7;
  color: #555;
  cursor: pointer;
}
.active-reactions-chat-main {
  top: -47px;
  z-index: 55;
}
.disactive-reactions-chat-main {
  top: 0;
}

em-emoji-picker {
  width: 280px;
  height: 370px;
}
.pickerEmojiChatMessage {
  position: absolute;
  bottom: 60px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.active-picker {
  opacity: 1;
  visibility: visible;
}
.disactive-picker {
  opacity: 0;
  visibility: hidden;
}

.icons-actions-main-chat-bg,
.icons-actions-main-chat-gif,
.icons-actions-main-chat-audio,
.icons-actions-main-chat-video,
.icons-actions-main-chat-camera,
.icons-actions-main-chat-mic,
.icons-actions-main-chat-poll,
.icons-actions-main-chat-product,
.icons-actions-main-chat-services,
.icons-actions-main-chat-contacts{
  position: relative;
}

/*
.text-icons-actions-bg,
.text-icons-actions-mic-mic,
.text-icons-actions-gif,
.text-icons-actions-audio,
.text-icons-actions-video,
.text-icons-actions-poll,
.text-icons-actions-camera,
.text-icons-actions-product,
.text-icons-actions-services,
.text-icons-actions-contacts{
  position: relative;
} */

.text-icons-actions-bg,
.text-icons-actions-mic,
.text-icons-actions-gif,
.text-icons-actions-audio,
.text-icons-actions-video,
.text-icons-actions-poll,
.text-icons-actions-camera,
.text-icons-actions-product,
.text-icons-actions-services,
.text-icons-actions-contacts{
  position: absolute;
  top: -35px;
  left: 60%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #eee;
  opacity: 0;
  width: 120px;
  text-align: center;
  visibility: hidden;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* .text-icons-actions-bg {
  top: -38px;
  right: -24px;
}
.text-icons-actions-mic {
  top: -21px;
  right: 55px;
}
.text-icons-actions-gif {
  top: -21px;
  right: 122px;
}
.text-icons-actions-audio {
  top: -21px;
  right: 122px;
}
.text-icons-actions-video {
  top: -21px;
  right: 165px;
}
.text-icons-actions-camera {
  top: -21px;
  right: 236px;
}
.text-icons-actions-poll {
  top: -21px;
  right: 212px;
}
.text-icons-actions-product{
  top: -21px;
  right: 293px;
}
.text-icons-actions-services{
  top: -21px;
  right: 330px;
}
.text-icons-actions-contacts{
  top: -21px;
  right: 386px;
} */
.icons-actions-main-chat-bg:hover .text-icons-actions-bg,
.icons-actions-main-chat-mic:hover .text-icons-actions-mic,
.icons-actions-main-chat-gif:hover .text-icons-actions-gif,
.icons-actions-main-chat-audio:hover .text-icons-actions-audio,
.icons-actions-main-chat-video:hover .text-icons-actions-video,
.icons-actions-main-chat-camera:hover .text-icons-actions-camera,
.icons-actions-main-chat-poll:hover .text-icons-actions-poll ,
.icons-actions-main-chat-product:hover .text-icons-actions-product,
.icons-actions-main-chat-services:hover .text-icons-actions-services,
.icons-actions-main-chat-contacts:hover .text-icons-actions-contacts{
  opacity: 1;
  visibility: visible;
}
.text-icons-actions-bg::before,
.text-icons-actions-mic::before,
.text-icons-actions-gif::before,
.text-icons-actions-audio::before,
.text-icons-actions-video::before,
.text-icons-actions-poll::before,
.text-icons-actions-camera::before,
.text-icons-actions-product::before,
.text-icons-actions-services::before,
.text-icons-actions-contacts::before{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #eee;
  transform: rotate(-180deg);
  bottom: -11px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}
.text-icons-actions-bg::before {
  left: 42%;
}
.text-icons-actions-mic::before {
  left: 49%;
}
.text-icons-actions-gif::before {
  left: 42%;
}
.text-icons-actions-audio::before,
.text-icons-actions-video::before,
.text-icons-actions-poll::before,
.text-icons-actions-camera::before,
.text-icons-actions-product::before,
.text-icons-actions-services::before,
.text-icons-actions-contacts::before {
  left: 40%;
}

.text-icons-actions-audio::before {
  left: 42%;
}

.text-icons-actions-bg p,
.text-icons-actions-mic p,
.text-icons-actions-gif p,
.text-icons-actions-audio p,
.text-icons-actions-video p,
.text-icons-actions-camera p,
.text-icons-actions-poll p,
  .text-icons-actions-product p,
.text-icons-actions-services p,
.text-icons-actions-contacts p{
  font-size: 16px;
  font-weight: 600;
  color: #555;
}

.box-camera-chat {
  position: relative;
  width: 27px;
  overflow: hidden;
  /* height: 55px; */
}
.box-camera-chat input {
  width: 27px;
  position: absolute;
  top: 6px;
  z-index: 5;
  opacity: 0;
  left: 5px;
}
.box-camera-chat img,
.box-camera-chat svg {
  /* position: absolute; */
  width: 26px;
  top: 13px;
}
.border-header-profile-chat img {
  border: 2px solid #fff;
}
.wrap-record-chat{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 19px;
}
.wrap-record-chat .StopRecord{
  color: #555;
    font-size: 28px;
    cursor: pointer;
}
.wrap-record-chat .PauseRecord{
  color: orangered;
    font-size: 28px;
    cursor: pointer;
}
.w-full-record{
  width: 100px;
}
.pinMessageMainChat{
  position: absolute;
  width: 99%;
  background-color: #eee;
  border-radius: 3px;
  z-index: 555;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.wrapPinMessageChat{
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  font-weight: 600;
}
.wrapPinMessageChat .icon-pin svg{
  font-size: 23px;
}
.iconPinChat{
  cursor: pointer;
  font-size: 20px;
  opacity: 0;
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
}
.pinMessageMainChat:hover .iconPinChat{
  opacity: 1;
}
.list-pin-message {
  position: absolute;
  background-color: #fff;
  right: 27px;
  border-radius: 5px;
  border: 2px solid #eee;
  width: 160px;
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition:opacity .2s ease-in,transform .3s ease-in-out;
  -webkit-transition:opacity .2s ease-in,transform .3s ease-in-out;
  -moz-transition:opacity .2s ease-in,transform .3s ease-in-out;
  -ms-transition:opacity .2s ease-in,transform .3s ease-in-out;
  -o-transition:opacity .2s ease-in,transform .3s ease-in-out;
}
.list-pin-messageActive{
  opacity: 1;
  transform: scale(1);
}
.list-pin-messageDisActive{
  opacity: 0;
  transform: scale(0);
}
.list-pin-message p{
  padding: 4px 0;
  text-align: center;
  margin: 8px 0px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
}
.list-pin-message p:hover{
  background-color: #eee;
}